body {
  height: 100vh;
  background: $bg-color;
  background: $gradient-home;
  font-family: "Alexandria", sans-serif;
  color: $font-color;
  display: flex;
  justify-content: center;

  position: relative;
}
.header-overlap {
  width: 100%;
  height: 7.1875rem;
  position: absolute;
  top: 0;
  background-color: $bg-color;
  background: $gradient-home;
  z-index: 1;
}

#app {
  height: 100vh;
  width: 100%;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid $border-color;
  overflow: hidden;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    padding-block: 0.5rem;
    padding-inline: 0.25rem;
    text-decoration: none;
    color: $font-color;
  }
}
