main {
  flex: 1;
  position: relative;
}
.home-sections,
.about-sections,
.work-sections {
  position: absolute;
  inset: 0;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

.home-sections[data-active="deactive"] {
  transform: translateY(-100%);
}
.home-sections[data-active="to-bottom"] {
  transform: translateY(100%);
}
//
//HEADLINE
//
.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 2rem;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  border-right: 0.0625rem solid $border-color;
  h1 {
    max-width: 31.25rem;
    font-size: clamp(1.5rem, 3vw, 3rem);

    text-transform: uppercase;
  }
}
//
//Main content
//
.main-content {
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  border-top: 0.0625rem solid $border-color;
  border-right: 0.0625rem solid $border-color;

  h3 {
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }
  p {
    opacity: 0.5;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  li {
    padding: 0.5rem;
    display: flex;
    gap: 0.25rem;
    align-items: flex-start;
  }
}
//
//image
//
.image {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home section:first-child .image {
  background-image: url("https://ik.imagekit.io/nollume/tr:w-1500/geran-de-klerk-WJkc3xZjSXw-unsplash_At_phX5wT.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669043507954");
}
.home section:nth-child(2) .image {
  background-image: url("https://ik.imagekit.io/nollume/tr:w-1500/evgeni-tcherkasski-J37sBRjCSi4-unsplash_TcdJ4YE2E.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669126364525");
}
.home section:last-child .image {
  background-image: url("https://ik.imagekit.io/nollume/tr:w-1500/dan-otis-OYFHT4X5isg-unsplash_nnaFKGZXM.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669126364733");
}
//
//buttons
//
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;

  border-top: 0.0625rem solid $border-color;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;

  button {
    font-size: 3rem;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    &:is(:hover, :active) {
      background-color: darken($bg-color, 2%);
    }
  }
  & button:first-child {
    border-right: 0.0625rem solid $border-color;
    div {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        rotate: 90deg;
      }
    }
  }
  & button:last-child div {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      rotate: -90deg;
    }
  }
}

//tools
.tools {
  grid-column: 4/7;
  gap: 1rem;
  padding: 2rem;
  display: flex;

  align-items: flex-end;
  justify-content: flex-end;

  p {
    opacity: 0.5;
  }
  .page-index {
    font-size: 2rem;
    line-height: 2rem;
  }
}
