$bg-color: rgb(54, 83, 20);
$gradient: linear-gradient(
  90deg, 
  rgba(54, 83, 20, 1) 50%,
  rgba(133, 77, 14, 1) 100%
);
$border-color: rgb(255, 255, 255, 0.1);
$font-color: #f8fafc;
$accent-coloe: #854d0e;
